#chatensionIframe {
  z-index: 9999;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  width: 25%;
  background: transparent;
  border: none;
}

#theirBody {
  height: 100%
}
